<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--spring 配置文件-->
    <!--配置 bean，这样 spring 才可以管理对象-->
    <!--
        bean标签的两个重要属性：
            id；bean 的唯一标识
            class：必须填写类的全路径
    -->
    <bean id="userBean" class="com.haishili.spring6.bean.User"/>
    <bean id="userDao" class="com.haishili.spring6.dao.UserServiceDao"/>
</beans>